<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
{{> header}}
<p>
    {{screamIt welcomeMessage}}
<!--
    it automatically checks the arguments.
    screamIt welcomeMessage ...sdfsdf}}

-->
<p>
    {{name}}
    {{likes}}
</p>
</p>
{{> footer}}

</body>
</html>