<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
<h1>Project page.</h1>
<p>
    {{> header}}
    This is my project page.

    {{> footer}}
</p>
</body>
</html>